@import url("https//fonts.googleapis.com/css?family=Work+Sans:regular,500,600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

* img {
  max-width: 100%;
}

:root {
  --bg-color: #121B25;
  --accent-color: #15786C;
  --text-color: #d6d6d6;
}

body {
  font-family: "Work Sans", sans-serif;
  background-color: var(--bg-color);
  position: relative;
  color: #fff;

  &._lock {
    overflow: hidden;
  }
}

[class*="__container"] {
  max-width: 1450px;
  margin: 0 auto;
  padding: 0 15px;
}

/*--------General--------*/

.title {
  font-weight: 600;
  font-size: clamp(1.875rem, 1.548rem + 1.64vw, 3rem);
  line-height: 1.26;
  text-transform: capitalize;
  color: #FFFFFF;
}

.text {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.7;
  color: var(--text-color);
}


/*--------/General--------*/

/*--------Header--------*/

.header {
  padding: clamp(1.25rem, 0.886rem + 1.82vw, 2.5rem) 0;

  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
  }

  &__logo {
    max-width: 200px;

    img {
      max-width: 100%;
    }
  }

  &__navigation {
    display: flex;
    align-items: center;
    gap: clamp(1.25rem, -2.799rem + 8.44vw, 4.688rem);
  }

  &__menu {}

  &__buttons {
    display: flex;
    gap: 5px;
  }

  &__btn {
    padding: 11px 20px;
    color: #fff;
    border: 2px solid var(--accent-color);
    background-color: transparent;
    transition: background-color 0.25s;
    cursor: pointer;

    @media (max-width: 576px) {
      padding: 7px 15px;
    }
  }
}

.menu {
  @media (max-width: 992px) {
    position: absolute;
    top: 0;
    left: -100%;
    height: 100vh;
    width: 60%;
    display: flex;
    overflow: auto;
    padding: 20px 0;
    transition: left .35s;
    background-color: var(--accent-color);
    z-index: 2;

    &._active {
      left: 0;
    }
  }

  &-icon {
    display: none;

    @media (max-width: 992px) {
      display: block;
      height: 18px;
      width: 30px;
      position: relative;
      cursor: pointer;
      z-index: 5;

      span {
        transition: all .3s ease 0s;
        top: calc(50% - 1px);
        left: 0;
        position: absolute;
        width: 100%;
        height: 2px;
        background-color: #fff;


        &:first-child {
          top: 0;
        }

        &:last-child {
          top: auto;
          bottom: 0;
        }
      }

      &._active {
        span {
          transform: scale(0);

          &:first-child {
            transform: rotate(-45deg);
            top: calc(50% - 1px);
          }

          &:last-child {
            transform: rotate(45deg);
            bottom: calc(50% - 1px);
          }
        }
      }
    }
  }

  &__body {
    display: flex;
    align-items: center;
    gap: 40px;

    @media (max-width: 992px) {
      flex-direction: column;
      margin: auto;
    }
  }

  &__item {}

  &__link {
    font-weight: 500;
    font-size: 16px;
    text-transform: capitalize;
    color: var(--text-color);
    text-decoration: none;
    transition: color 0.25s;
    position: relative;

    &:before {
      content: '';
      position: absolute;
      bottom: -5px;
      left: 0;
      right: 0;
      background-color: var(--accent-color);
      height: 3px;
      opacity: 0;
      visibility: hidden;
      transition: opacity .2s;
    }

    @media (any-hover: hover) {
      &:hover {
        color: #fff;

        &:before {
          opacity: 1;
          visibility: visible;
        }
      }
    }

    @media (max-width: 992px) {
      line-height: 50px;
      font-size: 30px;
    }
  }
}

.login {
  @media (any-hover: hover) {
    &:hover {
      background-color: var(--accent-color);
    }
  }

  @media (max-width: 425px) {
    display: none;
  }
}

.register {
  background-color: var(--accent-color);

  @media (any-hover: hover) {
    &:hover {
      background-color: transparent;
    }
  }
}

/*--------/Header--------*/

/*--------Hero--------*/

.page {}

.hero {
  margin-top: clamp(1.25rem, 0.25rem + 5vw, 4.688rem);
  padding-bottom: clamp(1.25rem, -0.023rem + 6.36vw, 5.625rem);
  position: relative;

  .hero-deco {
    position: absolute;
    bottom: -150px;
    right: 0;
    z-index: -1;

    @media (max-width: 576px) {
      height: 300px;
    }
  }

  // .hero_content
  &_content {
    flex: 0 0 calc(700px / 1420px * 100%);
    padding-bottom: 160px;
    padding-bottom: 20px;

  }

  // .hero__container
  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;

    @media (max-width: 992px) {
      flex-direction: column;
    }
  }

  // .hero__tilte
  &__tilte {
    font-weight: 600;
    font-size: clamp(1.875rem, 1.184rem + 3.45vw, 4.25rem);
    line-height: 1.26;
    text-transform: capitalize;
  }

  // .hero__text
  &__text {
    margin-top: 18px;
  }

  // .hero__filter
  &__filter {
    height: 100px;
    width: 880px;
    background-color: #fff;
    margin-top: clamp(1.875rem, 1.33rem + 2.73vw, 3.75rem);
    position: absolute;

    @media (max-width: 992px) {
      width: 100%;
      position: static;
    }
  }

  // .hero__img
  &__img {
    flex: 0 0 calc(700px / 1420px * 100%);

    @media (min-width: 768px) and (max-width: 992px) {
      display: none;
    }
  }
}

.filter {}


/*--------/Hero--------*/

/*--------Filter--------*/

.filter {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 165px;
  color: #0f0f0f;

  @media (max-width: 576px) {
    grid-template-columns: repeat(3, 1fr);
    padding: 5px;
    height: auto;

  }

  @media (max-width: 475px) {
    grid-template-columns: 1fr;
    gap: 10px;
  }

  // .filter__block
  &__block {
    &:nth-child(2) {
      border-right: 1px solid #E8E8E8;
      border-left: 1px solid #E8E8E8;
    }
  }

  // .filter__btn
  &__btn {
    padding: 5px;

    button {
      cursor: pointer;
      background-color: var(--accent-color);
      height: 100%;
      width: 100%;
      border: none;
      font-weight: 500;
      font-size: 24px;
      text-transform: capitalize;
      color: #FFFFFF;
      padding: 10px;

      &:active {
        background-color: #0E6056;
      }
    }

    @media (max-width: 576px) and (min-width: 475px) {
      grid-column: 1/4;
    }
  }
}

.block-filter {
  position: relative;

  // .block-filter__button
  &__button {
    padding: 0 clamp(0.625rem, 0.08rem + 2.73vw, 2.5rem);
    display: flex;
    justify-content: center;
    height: 100%;
    flex-direction: column;
    padding-left: 40px;
    cursor: pointer;
  }

  // .block-filter__header
  &__header {
    display: flex;
    align-items: center;
  }

  // .block-filter__type
  &__type {
    padding-right: 3px;
    font-size: 16px;
    color: #858585;
  }

  // .block-filter__icon
  &__icon {
    width: 10px;
    height: 7px;
    background: url('../img/icons/arrow-dropdown.svg') center bottom no-repeat;
    transition: transform 0.25s;

    &._active {
      transform: rotate(180deg);
    }
  }

  // .block-filter__value
  &__value {
    font-weight: 600;
    font-size: 18px;
    text-transform: capitalize;
    color: #121B25;
  }

  // .block-filter__dropdown
  &__dropdown {
    position: absolute;
    z-index: 4;
    top: 100%;
    left: 0;
    right: 0;
    background-color: #fff;
    border-radius: 5px;
    overflow: hidden;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: all 0.25s;
    box-shadow: 0 0 2px 2px #000;

    &._active {
      opacity: 1;
      visibility: visible;
      pointer-events: all;
      transform: translateY(5px);
    }
  }

  // .block-filter__item
  &__item {
    padding: 10px;
    transition: background-color 0.25s;
    text-transform: capitalize;
    cursor: pointer;

    @media (any-hover: hover) {
      &:hover {
        background-color: #adadad;
      }
    }

  }
}



/*--------/Filter--------*/

/*-------Fuatured--------*/


.featured {
  padding-top: clamp(1.25rem, -0.023rem + 15vw, 5.625rem);
  padding-bottom: clamp(1.875rem, -0.852rem + 13.64vw, 11.25rem);
  // .featured_container

  &_container {
    max-width: 1420px;
    margin: auto;
  }

  // .featured__tilte

  &__tilte {}

  // .featured__box

  &__box {
    margin-top: clamp(1.875rem, 1.42rem + 2.27vw, 3.438rem);
    display: flex;
    justify-content: space-between;
    gap: 30px;
    align-items: center;
    overflow: auto;
  }

  // .featured__item

  &__item {
    flex: 0 0 auto;
  }

  // .featured__img

  &__img {}
}

.title {}



/*-------/Fuatured--------*/


/*-------Swiper--------*/


.popular {
  padding: clamp(1.875rem, -0.489rem + 11.82vw, 10rem) 0;
  background: #1A242F url('../img/slider-bg.png') center center/cover no-repeat;

  // .popular__container

  &__container {}

  // .popular__title

  &__title {}

  // .popular__slider

  &__slider {
    margin-top: 40px;
    position: relative;
  }

  &__link {
    text-align: center;
    margin-top: 65px;
  }

  &__link a {
    display: inline-block;
    padding: 22px 42px;
    font-weight: 500;
    font-size: 24px;
    text-transform: capitalize;
    color: #FFFFFF;
    text-decoration: none;
    margin: auto 0;
    background-color: var(--accent-color);
    transition: .2s;

    @media (any-hover: hover) {
      &:hover {
        background-color: #0E6056;
      }
    }
  }
}

.swiper-slide {}

.popular-slide {
  display: flex;
  flex-direction: column;
  gap: 27px;

  @media (max-width: 640px) {
    text-align: center;
  }

  // .popular-slide__thumb  
  &__thumb {}

  // .popular-slide__text
  &__text {}

  // .popular-slide__title
  &__title {
    font-weight: 600;
    font-size: 26px;
    line-height: 1.26;
    letter-spacing: 0.01em;
    text-transform: capitalize;
  }

  // .popular-slide__desc
  &__desc {}

  // .popular-slide__labels
  &__labels {
    display: flex;
    gap: 20px;

    @media (max-width: 640px) {
      justify-content: center;
    }
  }

  // .popular-slide__label
  &__label {
    display: flex;
    align-items: center;
    gap: 4px;
    flex-wrap: wrap;
  }
}


.swiper {
  overflow: hidden;
}

.swiper-wrapper {
  display: inline-flex;
}

.swiper-slide {}

.slider-buttons {
  position: absolute;
  top: 30%;
  display: flex;
  justify-content: space-between;
  width: 100%;

  @media (max-width: 1800px) {
    top: -100px;
    right: 0;
    width: auto;
    gap: 30px;
  }
}

.popular-slider-btn {
  width: 78px;
  height: 78px;
  border-radius: 50%;
  background: url('../img/icons/arrow-slider.svg') left 30px center no-repeat;
  border: 1px solid #fff;
  cursor: pointer;

  @media (max-width: 1800px) {
    position: static;
  }

  @media (max-width: 640px) {
    display: none;
  }
}

.popular-slider-prev {
  position: absolute;
  left: -130px;
}

.popular-slider-next {
  position: absolute;
  right: -130px;
  transform: rotate(180deg);
}


/*-------/Swiper--------*/



/*-------Why--------*/


.why {

  // .why__container

  &__container {
    padding-top: clamp(1.875rem, -0.852rem + 13.64vw, 11.25rem);
    padding-bottom: clamp(1.875rem, 0.693rem + 5.91vw, 5.938rem);
  }

  // .why__title

  &__title {
    text-align: center;
  }

  // .why__body

  &__body {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin-top: clamp(1.875rem, 1.33rem + 2.73vw, 3.75rem);
    gap: clamp(1.25rem, 0.705rem + 10vw, 3.125rem);

    @media (max-width: 768px) {
      flex-direction: column;
    }
  }

  // .why__item

  &__item {}
}

.item-why {
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
  flex: 0 0 calc(376px / 1420px * 100%);

  // .item-why__img

  &__img {
    width: clamp(6.25rem, 4.795rem + 7.27vw, 11.25rem);
    aspect-ratio: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    margin-bottom: clamp(1.563rem, 1.362rem + 1vw, 2.25rem);

    &:before {
      content: '';
      width: 100%;
      height: 100%;
      border-radius: 50%;
      display: block;
      position: absolute;
      background-color: var(--accent-color);
      opacity: .12;
    }

    svg {
      width: 40%;
      height: 40%;
    }
  }

  // .item-why__title

  &__title {
    font-weight: 600;
    font-size: 26px;
    letter-spacing: 0.01em;
    text-transform: capitalize;
  }

  // .item-why__text

  &__text {
    margin-top: 10px;
  }
}


/*-------/Why--------*/


/*-------Reviews--------*/


.reviews {
  position: relative;

  .reviews-deco {
    position: absolute;
    top: -520px;
    left: 0;
    z-index: -1;
  }

  .swiper-wrapper {
    align-items: flex-start;
  }

  // .reviews__container

  &__container {
    max-width: 1020px;
    margin: 0px auto;
    position: relative;
    padding-top: 195px;
  }

  // .reviews__quotes

  &__quotes {
    position: absolute;
    top: 0;
    left: 0;
    font-size: 260px;
    text-transform: capitalize;
    color: var(--accent-color);
  }

  // .reviews__slider

  &__slider {}
}

.slider-reviews {

  // .slider-reviews__slide

  &__slide {}

  // .slider-reviews__text

  &__text {
    font-size: clamp(1.25rem, 1.032rem + 1.09vw, 2rem);
    line-height: 1.57;
    text-transform: capitalize;
  }

  // .slider-reviews__info

  &__info {
    margin-top: 40px;
  }

  // .slider-reviews__name

  &__name {
    font-weight: 600;
    font-size: 22px;
    letter-spacing: 0.01em;
    text-transform: capitalize;
  }

  // .slider-reviews__job

  &__job {}

  // .slider-reviews__buttons

  &__buttons {
    height: 60px;
    align-items: center;
    display: flex;
    gap: 70px;
    width: 115px;
    position: absolute;
    top: 0;
    right: 15px;

    &:before {
      content: '';
      position: absolute;
      top: 0;
      bottom: 0;
      left: 50%;
      background: #767F89;
      width: 1px;
    }
  }
}

.slider-reviews-btn {
  &.swiper-button-disabled {
    svg {
      fill: #767F89;
    }
  }

  svg {
    fill: #fff;
  }
}

.slider-reviews-prev {
  transform: translateY(-2px) rotate(180deg);
}

.slider-reviews-next {}



/*-------/Reviews--------*/